<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../styles/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="../img/shortingen.png">
    <title><%= title %> </title>
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <%- include('sidebar'); %> 
        

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <%- include('navbar'); %> 
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="text-center">
                        <h2 class="mt-4 mb-4"><i class="fas fa-star mr-3" style="color: #FFC93C;"></i>Favorite Shortened Urls</h2>
                        <%- include('../partials/messages') %>
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card shadow p-5" style="overflow-x:auto;">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">
                                            <i class="fas fa-link" style="color: #FFC93C;"></i>
                                            Original Url
                                        </th>
                                        <th scope="col">
                                            <i class="fas fa-link" style="color: #FF5959;"></i>
                                            Shortened Url
                                        </th>
                                        <th scope="col">
                                            <i class="fas fa-mouse-pointer" style="color: #2192FF;"></i>
                                            Total Clicks
                                        </th>
                                        <th scope="col">
                                            <i class="far fa-calendar-alt" style="color: #28B5B5;"></i>
                                            Expiration Date
                                        </th>
                                        <th>
                                            <i class="fas fa-star" style="color: #FFC93C;"></i>
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% if(urls.length > 0){ %> 
                                            <% urls.forEach((url)=>{ %> 
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td><%= url.original_url %> </td>
                                                    <td style="color: #FF5F00;"><%= url.shortened_url %></td>
                                                    <td>
                                                        <div class="text-center">
                                                            <span style="color: #4D77FF;">
                                                                <%= url.click_count  %> 
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td><%= url.valid_until.toISOString().split( "T" )[0] %></td>
                                                    <td>
                                                        <form action="/user/all-urls" method="post">
                                                            <button name="url_id" value="<%= url._id %>" class="btn btn-secondary">
                                                                <% if(url.is_favorite){ %> 
                                                                    <i style="color: #FFC93C;"  class="far fa-star"></i>
                                                                <% }else{ %> 
                                                                    <i  class="far fa-star"></i>
                                                                <% } %> 
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            <% }) %> 
                                          <% } %>
                                    </tbody>
                                  </table>
                            </div>
                            <nav aria-label="..." class="mt-3">
                                <ul class="pagination justify-content-center">
                                  <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                  </li>
                                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item" aria-current="page">
                                    <a class="page-link" href="#">2</a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                  </li>
                                </ul>
                              </nav>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy;2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/user/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>
</body>

</html>